.project-title {
  background: white;
  color: sienna;
  font-size: 20px;
  padding: 15px;
  border: 1px solid darkgreen;
  border-radius: 7px
}

.navbar {
  background-color: #060b26;
  display: flex;
  justify-content: flex-start;
  align-self: center;
}

.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: #272727;
  margin-top: 0.5rem;
}

.nav-menu {
  background-color: #060b26;
  height: 100vh;
  width: 300px;
  display: flex;
  justify-content: flex-start;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 950ms;
  z-index: 1;
}

.nav-menu.active {
   left: 0%;
   transition: 350ms;
   z-index: 1;
}

.nav-text {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  list-style: none;
  height: 60px;
  padding: 8px 0 8px 16px;
}

.nav-text a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 18px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: rgb(24, 218, 252);
}

.navbar-toggle {
  background-color: #060b26;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.menu-title {
  margin-left: 15px;
}